<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="fond" id="formContent">
    <div class="fadeIn container">
        <img class="logo-pilgrim animation-logo" src="static/image/logo-pilgrim-2021-04.png">
    </div>
    <div class="fadeIn containerform">
        <form method="POST" action="/result_localisation"> 
            <input type="text" name="numeroTC" class="form-control" placeholder="Numéro TC" />
            <div class="text-center">
                <input class="button hvr-buzz-out" type="submit" value="Localiser">
            </div>
        </form>
    </div>
        <div class="divider"></div>
        <div class="fadeIn containerform">
            <form>
            <div class="text-center">
                <div class="button hvr-buzz-out">Scan</div>
            </div>
        </form>
        </div>
    </div>

</body>

<!-- footer-sec end -->


</body>

</html>